

 
  
<h2>
    Edit Product
  </h2>
  <form >
  
      <div class="form-group">
          <label >Name of the BOOK:</label>
          <input type="text" class="form-control" id="Bookname" [(ngModel)]="name" name="name">
      </div>
      <div class="form-group">
          <label>Amount:</label>
          <input type="text" class="form-control" id="Amount" [(ngModel)]="amount" name="amount">
      </div>
      <div class="form-group">
          <label>Book_ID:</label>
          <input type="text" class="form-control" id="BookId" [(ngModel)]="id" name="id">
      </div>
  
      <a routerLink="Home"><button type="submit" class="btn btn-primary" (click)="edit()">Edit</button></a>
      
  </form>
  