
<nav class="navbar navbar-expand-md bg-dark navbar-dark sticky-top ">
  <!-- Brand -->
  <a class="navbar-brand" href="#"><h3>Bookish</h3></a>

  <!-- Toggler/collapsibe Button -->
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
    <span class="navbar-toggler-icon"></span>
  </button>

  <!-- Navbar links -->
  <div class="collapse navbar-collapse" id="collapsibleNavbar ">
    <ul class="navbar-nav nav nav-pills ">
      <li class="nav-item">
        <a class="nav-link" data-toggle="pill" routerLink="Home" routerLinkActive="active">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" data-toggle="pill"  routerLink="AddProduct" routerLinkActive="active">Add Product</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" data-toggle="pill"  routerLink="EditProduct" routerLinkActive="active"> Edit Product</a>
      </li>
    </ul>
   
  </div>
</nav>

<br>
<br>


