<h2>List Product</h2>

<table class="table table-striped">
<thead>
<tr>
<th>Book name</th>
<th>Amount</th>
<th>Book_Id</th>
<th>Action</th>
</tr>
</thead>
<tbody>
<tr>
<td>Harry Potter</td>
<td>5</td>
<td>HP1212</td>
<a href="EditProduct"><button type="submit" class="btn btn-warning">Edit</button></a>

<a href="Home"><button type="submit" class="btn btn-danger">Delete</button></a>
</tr>
<tr>
<td>The Secret</td>
<td>12</td>


<td>TS2312</td>
<a href="EditProduct"><button type="submit" class="btn btn-warning">Edit</button></a>
        
<a href="Home"><button type="submit" class="btn btn-danger">Delete</button></a>
</tr>
<tr>
<td>Romio & Juliot</td>
<td>8</td>
<td>RAJ232</td>
<a href="EditProduct"><button type="submit" class="btn btn-warning">Edit</button></a>

<a href="Home"><button type="submit" class="btn btn-danger">Delete</button></a>
</tr>
</tbody>
</table>
